appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
black==20.8b1
cfgv==3.2.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-basic-apps @ git+https://github.com/nathanborror/django-basic-apps@3a90090857549ea4198a72c44f45f6edb238e2a8
django-tinymce==3.2.0
filelock==3.0.12
flake8==3.8.4
identify==1.5.10
importlib-metadata==3.4.0
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.5.0
pathspec==0.8.1
Pillow==8.0.1
pre-commit==2.9.3
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
virtualenv==20.2.2
whitenoise==5.2.0
wrapt==1.12.1
zipp==3.4.0
