{% extends 'base.html' %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block seo %}
    <meta name="description" content="{{post.content|truncatewords:60|striptags }}">
    <meta name="keywords" content="{{post.keywords}}">
    <meta name="author" content="{{post.created_by.email}}">

    <meta property="og:title" content="{{post.title}}" />
    <meta property="og:description" content="{{post.content|truncatewords:60|striptags }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{request.path}}" />
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/media/{{post.image}}" />
{% endblock seo %}

{% block content %}
    <div class="row my-5">
    {% if post.status == 1 %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="border-right border-left">
                {% if post.image %}
                    <div>
                        <img class="img-fluid d-block mx-auto rounded-top" src="/media/{{post.image}}" alt="{{post.title}}">
                    </div>
                {% endif %}
                <div class="px-3 py-2 px-lg-5">
                    <h2 class="text-center">{{post.title}}</h2>
                    {% if post.subtitle %} <h6 class="text-center">{{post.subtitle}}</h6> {% endif %}
                    <div id="meta" class="float-lg-left float-md-left clearfix">
                        <div class="d-flex justify-content-center align-items-center text-muted">
                            <div class="pr-3">
                                <i class="fas fa-clock"></i> {{post.created_on|date:"Y-m-d"}} <br/>
                            </div>
                            <div class="px-3">
                                <i class="fas fa-user"></i> {{post.created_by.username}}
                            </div>
                            <div class="px-3">
                                <i class="fas fa-code-branch"></i> <a class="text-muted" href="/category/{{post.category.slug}}">{{post.category}}</a>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted small float-lg-right float-md-right text-center ml-3 my-3 my-sm-0">Time to read: {{post.get_readtime}}</p>
                    <hr class="mb-4">
                    {{post.content|safe}}
                </div>
            </div>
        </div>
    {%endif %}
    </div>
{% endblock content %}
