{% extends 'base.html' %}


{% block title %}
    Latest Posts
{% endblock title %}


{% block seo %}
    <meta name="description" content="There are my blog posts">
    <meta name="keywords" content="Programming, Software Development, Clean Code, Iranian Developers, Ir Programming, web design, web developer, backend developer, python, rust, javascript">
    <meta name="author" content="Hasan Parasteh">

    <meta property="og:title" content="Hasan Parasteh Blog" />
    <meta property="og:description" content="I share my content about software development here." />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{request.path}}" />
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/42239446?s=460&u=b87aeef1fb63c0cf1faaae784c53d5a408857810&v=4" />
{% endblock seo %}

{% block content %}
    <div class="row mb-4">
    {% for post in posts %}
        {% if post.status == 1 %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
                <div class="d-flex flex-column justify-content-between h-100 shadow-sm rounded border">
                    {% if post.image %}
                        <div>
                            <img class="img-fluid w-100 rounded-top" src="/media/{{post.image}}" alt="{{post.title}}">
                        </div>
                    {% endif %}
                    <div class="py-2 px-4">
                        <h2>{{post.title}}</h2>
                        {% if post.subtitle %} <h6>{{post.subtitle}}</h6> {% endif %}
                        <p class="text-muted small float-right ml-3 mb-0">Time to read: {{post.get_readtime}}</p>
                        <hr>
                        <p class="text-justify">{{post.content|truncatewords:50|striptags}}</p>
                        <div class="text-right">
                            <a href="/{{post.slug}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    <div class="border-top d-flex justify-content-around text-muted py-3">
                        <div>
                            <i class="fas fa-clock"></i> {{post.created_on|date:"Y-m-d"}} <br/>
                        </div>
                        <div>
                            <i class="fas fa-user"></i> {{post.created_by.username}}
                        </div>
                        <div>
                            <i class="fas fa-code-branch"></i> <a class="text-muted" href="/category/{{post.category.slug}}">{{post.category}}</a>
                        </div>
                    </div>
                </div>
            </div>
        {%endif %}
    {%endfor %}
    </div>
{% endblock content %}
